<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        .flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        body {
            background-color: rgb(247, 247, 247);
        }
    </style>
</head>

<body>
    <div class="flex">
        <div>
            <h1 style="color: rgb(8, 10, 12);">ERROR:</h2>
        </div>
        <div>
            <h1 style="color: rgb(165, 179, 175);">
                <%= error %>
                    </h2>
        </div>

    </div>
    <div class="flex"><a href="/" style="color: rgb(8, 10, 12);">Go back to Home</a></div>

</body>

</html>